/*=========================================

Universal Styling 

=========================================*/
* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  padding: 16px 0;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

p {
  padding: 10px 0 15px;
}

img {
  height: 300px;
  width: 450px;
}

.container {
  background: white;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

/*=====================================

Nav Bar Styling 

=====================================*/
.top-bar {
  width: 100%;
  padding: 8px;
  background: #14203b;
  color: #f4f4f4;
  position: fixed;
  display: inline-block;
}

nav {
  float: right;
}

.logo {
  font-family: "Birthstone Bounce", serif;
  float: left;
  padding: 10px;
}

nav ul li {
  display: inline-block;
  vertical-align: top;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 15px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #326986;
  transition: 0.3s;
}

/*=========================================

Header Block Styling

=========================================*/

hr {
  border: none;
  border-bottom: 1px solid #616161;
  margin: 1em 40%; /* 15% or whatever fixed or % value that suits your needs*/
}

.top-header {
  background: #14203b;
  color: #f4f4f4;
  width: 100%;
  text-align: center;
  padding: 100px 0;
  height: 150px;
}

.border {
  border: 1px solid #f4f4f4;
  margin: 0 47px;
  padding: 60px;
}

.flower {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 30px;
  top: 298px;
  animation: drive 10s forwards infinite linear;
}

@keyframes drive {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(1300px);
  }
}

/*=========================================

Main Content Styling

=========================================*/

.section1 {
  display: inline-block;
  width: 100%;
  height: 300px;
  margin: 0;
  box-sizing: border-box;
}

.text-content-1 {
  float: left;
  width: 415px;
  margin: 40px 10px;
}

.image1 {
  float: right;
}

.section2 {
  background: #cf1974;
  color: #f4f4f4;
  display: inline-block;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
}

.text-content-2 {
  float: right;
  width: 415px;
  margin: 40px 10px;
}

.image2 {
  float: left;
}

/*=========================================

Button Styling 

=========================================*/

.button-pink {
  background: #cf1974;
  color: #f4f4f4;
  padding: 10px 30px;
  border-radius: 20px;
}

.button-navy {
  background: #14203b;
  color: #f4f4f4;
  padding: 10px 30px;
  border-radius: 20px;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  background: #326986;
  color: #f4f4f4;
  transition: 0.3s;
}

/*=====================================

Flip-Card Styling 

=====================================*/
.cards {
  height: 325px;
  padding: 20px 0;
}

.card {
  width: 296px;
  height: 281px;
  display: inline-block;
  margin: 20px 0;
}

.card img {
  width: 100%;
}

.card-text1,
.card-text2,
.card-text3 {
  position: relative;
  top: -304px;
  text-align: center;
  padding: 14px;
  color: #f4f4f4;
  transition: 0.3s;
  height: 270px;
}

.titles {
  padding: 113px 0;
}

.card-text1:hover {
  background: #cf1974;
  transition: 0.3s;
  cursor: pointer;
  font-size: large;
}

.card-text2:hover {
  background: #14203b;
  transition: 0.3s;
  cursor: pointer;
  font-size: large;
}

.card-text3:hover {
  background: #326986;
  transition: 0.3s;
  cursor: pointer;
  font-size: large;
}
/*=========================================

Footer Styling 

=========================================*/

footer {
  text-align: center;
  background: #14203b;
  color: #f4f4f4;
  padding: 40px 0px;
}

footer a {
  color: white;
  font-size: 18px;
  margin: 0 3px;
  transition: 0.3s;
}

footer a:hover {
  color: #c5c2c2;
  transition: 0.3s;
}

footer p {
  padding: 5px;
}
